@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
  
    <div class="white-box">
    <p style="display: flex; margin-inline: 20px">Hello! My name is Sofia and I am 23 years old. In the summer of 2022, I took my bachelor's degree from the ICT, media and design program at Södertörn University. During my education I learned more about programming. I have worked at Wellfish as a Junior Frontend developer. During my time at Wellfish, I learned more about structuring code. To do "push" and "commit" Gitlab was used. During my time at Wellfish, I learned more about the programming languages Vue.js, CSS, HTML, Javascript and Typescript. I also got to learn about Figma and CMS. I chose to quit working at Wellfish because I wanted a job with more collaboration. 
    I chose to quit working at Wellfish because I wanted to learn more about programming.
    Now I'm taking a course called "Programmering fortsättning" at Distansakademin. In the course I learn about the following programming languages; C#, HTML, Javascript, .Net Core WebAPI/MVC, Entity framework, Node js and Vue.js. 
    In the course I work with Mongodb, Visual Studio 2022, Github and Visual Studio Code.</p>


        <img style="width: 320px; height: 400px;  margin-inline: 20px" src="~/lib/image/image.JPG" />
        </div>

    </div>
    <style>
        
    </style>